﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="LoadMenuSelectOrdersList.aspx.cs" Inherits="US.LoadMenuSelectOrdersList" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form11" runat="server">
        <div>
        </div>
    </form>
</body>
</html>
