﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ThankYou.aspx.cs" Inherits="US.ThankYou" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <%-- <div>--%>
        <%--  <asp:Label ID="lblMsg" runat="server" >Thank you for updating the enquiry</asp:Label>--%>
        <table id="tblImage" style="width: 100%">
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td align="center">
                  <%--  <asp:Image ID="Image1" runat="server" ImageUrl="~/images/Enquiry_Update.gif" />--%>
                       <%--<asp:Image ID="Image1" runat="server" ImageUrl="~/US/Dialogs/CustomDialogs/images/Order_Confirm.gif"/>--%>

                    <h1 id="hLabel" runat="server">Thank you for your submission. You may close this tab.</h1>
                </td>

            </tr>

        </table>
        <%--  </div>--%>
    </form>
</body>
</html>
