﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ThankYouUpdating.aspx.cs" Inherits="US.ThankYouUpdating" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script>
        window.onload = function () {
         
        };

        function quitBox(cmd) {
            if (cmd == 'quit') {
                open(location, '_self').close();
            }
            return false;
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
        <%-- <div>--%>
        <%--  <asp:Label ID="lblMsg" runat="server" >Thank you for updating the enquiry</asp:Label>--%>
        <table id="tblImage" style="width: 100%">
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td align="center">
                    <input type="button" onclick="return quitBox('quit');" value="Close This Window/Tab" /> 
                    <%--  <asp:Image ID="Image1" runat="server" ImageUrl="~/images/Enquiry_Update.gif" />--%>
                    <%--   <asp:Image ID="Image1" runat="server" ImageUrl="~/Dialogs/CustomDialogs/images/Enquiry_Update.gif"/>--%>
                </td>

            </tr>

        </table>
        <%--  </div>--%>
    </form>
</body>
</html>
