﻿@charset "utf-8";
/* CSS Document */


/************************reset*********************************/



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, form, label, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 13px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}




@font-face {
	font-family: 'OpenSans-Regular';
	src: url('../fonts/OpenSans-Regular.eot');
	src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FFFD;
}

@font-face {
	font-family: 'OpenSans-Bold';
	src: url('../fonts/OpenSans-Bold.eot');
	src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('truetype'), url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FFFD;
}

@font-face {
	font-family: 'MyriadPro-Bold';
	src: url('../fonts/MyriadPro-Bold.eot');
	src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/MyriadPro-Bold.woff') format('woff'), url('../fonts/MyriadPro-Bold.ttf') format('truetype'), url('../fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FB04;
}


/*******************placeholder-css*****************************/
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #e51937;
	font-size: 16px;
	font-family: 'OpenSans-Regular';
}

.form-control::-moz-placeholder { /* Firefox 19+ */
	color: #e51937;
	font-size: 16px;
	font-family: 'OpenSans-Regular';
}

.form-control:-ms-input-placeholder { /* IE 10+ */
	color: #e51937;
	font-size: 16px;
	font-family: 'OpenSans-Regular';
}

.form-control:-moz-placeholder { /* Firefox 18- */
	color: #e51937;
	font-size: 16px;
	font-family: 'OpenSans-Regular';
}
/*******************placeholder-css-end*****************************/

/*******************checkbox-css-*****************************/
/* Base for label styling */
.checkbox-secation [type="checkbox"]:not(:checked), .checkbox-secation [type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
	position: relative;
	padding-right: 13px;
	padding-top: 3px;
	padding-left: 21px;
	cursor: pointer;
}

	/* checkbox aspect */
	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before {
		content: '';
		position: absolute;
		left: 0;
		top: 2px;
		width: 17px;
		height: 15px;
		border: 1px solid #3b3b3b;
		background: none;
	}
	/* checked mark aspect */
	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
		content: '✔';
		position: absolute;
		top: 2px;
		left: 0px;
		font-size: 15px;
		line-height: 0.8;
		color: #FFFFFF;
		transition: all .2s;
		border-radius: 3px;
		background: #93AD16;
		border: 1px solid #93AD16;
		padding: 2px;
	}
	/* checked mark aspect changes */
	[type="checkbox"]:not(:checked) + label:after {
		opacity: 0;
		transform: scale(0);
	}

	[type="checkbox"]:checked + label:after {
		opacity: 1;
		transform: scale(1);
	}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}

[type="checkbox"]:disabled:checked + label:after {
	color: #999;
}

[type="checkbox"]:disabled + label {
	color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
	border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
	border: 1px solid #3b3b3b !important;
}






/* Useless styles, just for demo design */

.txtcenter {
	margin-top: 4em;
	font-size: .9em;
	text-align: center;
	color: #aaa;
}

.copy {
	margin-top: 2em;
}

	.copy a {
		text-decoration: none;
		color: #4778d9;
	}

/*******************checkbox-css-end*****************************/
